
<!DOCTYPE html>
<html>
    <head>
        <title>Ruby 之家 </title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="shortcut icon" href="https://ooo.0o0.ooo/2017/04/28/590326a068a2a.png">
    </head>

    <body>

        <div class="container-fluid">
          <div class="row">
            <%= render "common/navbar" %>
            <%= render "common/flashes" %>            
            <%= yield %>
            <%= render "common/footer" %>
         </div>
        </div>
    </body>
</html>
